// COLOR PALETTE MAP
$theme-colors: (
  grey-50: #f4effa,
  grey-100: #dfdbe6,
  grey-200: #b2adb8,
  grey-300: #a7a3ae,
  grey-400: #918d96,
  grey-500: #87848b,
  grey-600: #6a676f,
  grey-700: #4f4c52,
  grey-800: #343036,
  grey-900: #221f23,
  primary-500: #f7fd04,
  primary-600: #f9b208,
  primary-700: #f98404,
  primary-800: #fc5404,
  secondry-500: #81b214,
  secondry-800: #206a5d,
  success-100: #a2f0bc,
  success-500: #12bd4b,
  error-100: #f1acc9,
  error-500: #ff3333,
  white: #fff,
  black: #000,
);
