html {
  font-size: 100%;
}

* {
  box-sizing: border-box;
  font-family: inherit;
}

body {
  margin: 0;
  padding: 0;
  text-align: right;
  direction: rtl;
  font-size: 1rem;
  font-family: IRANSans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
textarea {
  font-family: IRANSans;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
